<div class="form-group">
  <label class="control-label"></label>
  <input class="form-control" data-bind="text:name"type="text" placeholder="Enter your name"/>
</div>
<div class="d-flex justify-content-center">
<div class="form-group">
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Attending Lunch
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Playing In Tourament
    </label>
  </div>
</div>
</div>
